<div class="main top-main">
  <div class="top-message">
    <h2>Web Calendar</h2>
    <p><%= link_to('カレンダーをつくる', "/s1711581/my_diary/diaries") %></p>
    <p><%= link_to('ユーザー登録', "/s1711581/my_diary/new") %></p>
  </div>
</div>
